.interactivity {
  width: 800px;
}

#brush {
  background: lightgrey;
  width: 960px;
  height: 50px;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
