/*
    SCOTUS Data Project
    Line Chart Visualization
    Andrew Phillips & Jake Rourke
*/


.axis--x path {
  display: none;
}

.justice--line, .justice--line-swing {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.brush .selection {
  fill: white;
  fill-opacity: .3;
  shape-rendering: crispEdges;
}

.visualization {
  width: 1200px;
  padding: 10px;
}

.graph {
  float: left;
  width: 850px;
}

.controls {
  position: relative;

  float: left;

  width: 150px;
  height: 500px;
  
  text-align: left;

  border: 1px solid black;
}

.controls-header {
  position: relative;
  background: #343A40;
  color: white;
  padding: 1px;
  text-align: center;
}

.buttons { /* align to bottom of div */
  position: absolute;
  bottom: 0;
  left: 0;
}

.button {
  margin: 5px 0px;
  background-color: #f7f7f7;
  border: none;
  color: #343A40;
  padding: 5px 0px 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 12px;
}

.button:active {
	background-color: lightgrey;
}

#justice-menu {
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid black;
}

.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 120px;          
    padding: 5px;       
    font: 10px sans-serif;    
    color: white;
    background: black;
    border-radius: 8px;     
    pointer-events: none;
    display: none;
}

/* tooltip arrows from https://www.w3schools.com/css/css_tooltip.asp */
 .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
