.interactivity {
  width: 800px;
}

.axis--x path {
  display: none;
}

.justice--line, .justice--line-swing {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.brush .selection {
  fill: white;
  fill-opacity: .3;
  shape-rendering: crispEdges;
}